APP_PORT=3000
APP_BASE_URL=http://localhost:3000

JWT_SECRET=
JWT_EXPIRES_IN=2d

DATABASE_PORT=5432
DATABASE_USERNAME=root
DATABASE_HOST=postgres
DATABASE_PASSWORD=root
DATABASE_NAME=hayasedb
DATABASE_LOGGING=true
DATABASE_SYNC=true

MAILER_USER=
MAILER_PASSWORD=
MAILER_HOST=
MAILER_PORT=
